.gradientEffect {
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(270deg,#DE6E4B,#857AA6 24%,#3185FC 45%,#45A8BA 66%,#58CB78 78%, #DE6E4B);
    background-color: #DE6E4B 0%;
}